body {
  width: 100%;
  font-family: 'Domine', serif;
}
.res-img {
  font-size: 450%;
}
#skills{
  background-color: white;
 /*  font-size: 600%; */
}

nav {
  height: 60px !important;            /* Cambia el valor de lo que quieres */
  line-height: 60px !important;       /* Cambia el valor de lo que quieres */
  background-color: #323232;
}
/* #p1{
  height: 350px;
} */
.parallax-container {
 /*  min-height: 580px;
  line-height: 0; */
  height: 100%;
/*   color: rgba(10, 27, 32, 0.7); */
}  
p{
  color:white;
  font-family: 'Roboto', serif;
}
nav .nav-wrapper {
  position: relative;
  height: 100%;
}
